# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnp.*
.cache/

# Logs
*.log
logs/
*.log.*

# Dossiers de build
dist/
build/

# Système d'exploitation
.DS_Store
Thumbs.db

# Fichiers d'IDE
.vscode/
.idea/

# Environnement
.env
.env.local
.env.*.local

# Fichiers spécifiques au système
*.swp
*.swo
